* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #efeeee;
  color: #0c2231;
  font-family: sans-serif;
  font-weight: 100;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

main > h1 {
  align-self: center;
}

code {
  font-size: 0.875rem;
}

p {
  line-height: 1.7rem;
}

a,
a:visited {
  color: #a00;
}

a:hover,
a:focus {
  color: #ce7844;
}

.heading {
  font-weight: 100;
  border-bottom: 2px solid currentColor;
  line-height: 3rem;
  margin-bottom: 0.7rem;
}

button {
  height: 2.5rem;
  width: 10rem;
  margin: 0 auto;
  border: 1px solid #d6e9f5;
  cursor: pointer;
  margin-bottom: 2rem;
}

.til {
  padding: 1rem 2rem;
  overflow-wrap: break-word;
  margin: 2rem 0;
  border-radius: 50px;
  background: linear-gradient(145deg, #d7d6d6, #ffffff);
  box-shadow: 30px 30px 60px #cbcaca, -30px -30px 60px #ffffff;
  transition: all 120ms cubic-bezier(0.1, 0.35, 1, 1);
}

.til.selected,
.til:hover {
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #d7d6d6);
  box-shadow: 10px 10px 36px -1px #cbcaca, -10px -10px 36px -1px #ffffff;
}

.til:hover {
  cursor: pointer;
}

.til-content {
  margin-top: 1.5rem;
}

.til-content pre {
  white-space: pre-wrap;
}

.til-content img {
  width: 100%;
}

.tag {
  margin-right: 0.3rem;
  display: inline-block;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.04);
  padding: 4px;
  border-radius: 5px;
}

nav {
  font-family: monospace;
  margin: 1rem auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 400px;
}

@media screen and (min-width: 1240px) {
  nav {
    position: fixed;
    bottom: 2.5rem;
    right: 3.4rem;
    width: 110px;
  }
  nav > a {
    min-width: 110px;
  }

  nav > a:not(:first-of-type) {
    margin-top: 1rem;
  }
}
