* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.til {
  padding: 20px;
  overflow-wrap: break-word;
}

.github-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: monospace;
}
