* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #c8cde5;
  color: #0c2231;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  max-width: 60em;
  margin: 0 auto;
}

p {
  line-height: 1.7rem;
  font-family: serif;
}

a {
  color: #0303c5;
}

a:visited {
  color: #5a019c;
}

.heading {
  font-family: sans-serif;
  border-bottom: 4px solid currentColor;
  line-height: 3rem;
  margin-bottom: 0.7rem;
}

button {
  height: 2.5rem;
  width: 10rem;
  margin: 0 auto;
  border: 1px solid #d6e9f5;
  cursor: pointer;
  margin-bottom: 2em;
}

.til {
  padding: 0.75rem 1.5rem;
  overflow-wrap: break-word;
}

.til-content {
  margin-top: 1.5rem;
}

.github-link {
  font-family: monospace;
  margin: 1rem auto 0;
  display: block;
  width: 110px;
}

.tag {
  margin-right: 0.3rem;
  display: inline-block;
  font-family: monospace;
}

@media screen and (min-width: 1240px) {
  .github-link {
    position: fixed;
    bottom: 2.5em;
    right: 3.4em;
  }
}
